<div class="footer mt-3">
    <div class="foter mt-3">
        <img src="assets/icon-post.jpeg">
        <div class="first">
            <ul>
                <li><i class="fa-solid fa-phone"></i> 1800 200 200</li>
                <li><i class="fa-solid fa-envelope"></i> support@bhartiyasetu.com</li>
                <li><i class="fa-regular fa-clock"></i>  Mon-Fri 9:00am - 5:00pm</li>
            </ul>
        </div>
        <div class="second">
            <ul>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Our Team</li>
            </ul>
        </div>
        <div class="second">
            <ul>
                <li>Privacy Policy</li>
                <li>Refund Policy</li>
                <li>Shipping Policy</li>
                <li>Terms of Service</li>
                <li>FAQ</li>
                <li>Coupons</li>
            </ul>
        </div>
    </div>
    <div class="fo">
        <h3>Bhartiya Setu. All Rights Reserved</h3>
        <h3>Developed and Managed by <a href="/home">Indian Post</a></h3>
    </div>
</div>