
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <img src="assets/icon-post.jpeg" class="icon"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse a" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div id="filters">
            <div class="filter nav-link active">
              <a href="/">
                <div class=""><i class="fa-solid fa-house"></i></i></div>
                <p class="a">Home</p>
              </a>
            </div>
            <div class="filter">
                <div class=""><i class="fa-solid fa-hand-holding-heart"></i></div>
                <p>Community</p>
            </div>
            <div class="filter">
                <div class=""><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <div class="filter">
                <div class=""><i class="fa-solid fa-map-location-dot"></i></div>
                <p>Explore</p>
            </div>
            <div class="filter">
                <div class=""><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 14 14"><path fill="black" fill-rule="evenodd" d="M13.854.146a.5.5 0 0 1 .113.534l-5 13a.5.5 0 0 1-.922.027l-2.091-4.6L9.03 6.03a.75.75 0 0 0-1.06-1.06L4.893 8.046l-4.6-2.09a.5.5 0 0 1 .028-.923l13-5a.5.5 0 0 1 .533.113" clip-rule="evenodd"/></svg></div>
                <p>Chat with Artist
                  
                </p>
            </div>
            </div>
          
        </ul>
        <div class="div">
          <form class="d-flex search" role="search" action="/">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          
        </div>
        <form action="/login">
          <button type="submit" class="btn btn-primary login">Login</button>
        </form>

        <form action="/signup">
          <button type="submit" class="btn btn-primary signup">Sign Up</button>
        </form>
      </div>
    </div>
  </nav>