<% layout("/layouts/boilerplate.ejs") %>

<div class="main mt-3">
    <div class="news-card">
        <div class="card new one" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">News title</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">News subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
    </div>
        <div class="card new" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">News title</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">News subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
    </div>
        <div class="card new" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">News title</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">News subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
    </div>
        <div class="card new" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">News title</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">News subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
    </div>
</div>


<div class="card mt-4">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special Festive Offers</h5>
      <p class="card-text">Shop now for beutiful and Festive essential items. Get up to 20% off</p>
      <a href="#" class="btn btn-primary">Shop Now!</a>
    </div>
  </div>

</div>



<div class="add">
  <div class="no">
      <div class="feed-card com">
        <div class="card feed" style="width: 28rem;">
          <div class="card-body">
            <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"><path d="M16 9a4 4 0 1 1-8 0a4 4 0 0 1 8 0m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0"/><path d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11s11-4.925 11-11S18.075 1 12 1M3 12c0 2.09.713 4.014 1.908 5.542A8.99 8.99 0 0 1 12.065 14a8.98 8.98 0 0 1 7.092 3.458A9 9 0 1 0 3 12m9 9a8.96 8.96 0 0 1-5.672-2.012A6.99 6.99 0 0 1 12.065 16a6.99 6.99 0 0 1 5.689 2.92A8.96 8.96 0 0 1 12 21"/></g></svg> @Username</h5>
            <br>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <br>
            <p><i class="fa-regular fa-heart"></i> &nbsp; <i class="fa-regular fa-comment"></i> &nbsp; <i class="fa-solid fa-share"></i></p>
          </div>
          </div>
        <div class="card feed" style="width: 28rem;">
          <div class="card-body">
            <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"><path d="M16 9a4 4 0 1 1-8 0a4 4 0 0 1 8 0m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0"/><path d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11s11-4.925 11-11S18.075 1 12 1M3 12c0 2.09.713 4.014 1.908 5.542A8.99 8.99 0 0 1 12.065 14a8.98 8.98 0 0 1 7.092 3.458A9 9 0 1 0 3 12m9 9a8.96 8.96 0 0 1-5.672-2.012A6.99 6.99 0 0 1 12.065 16a6.99 6.99 0 0 1 5.689 2.92A8.96 8.96 0 0 1 12 21"/></g></svg> @Username</h5>
            <br>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <br>
            <p><i class="fa-regular fa-heart"></i> &nbsp; <i class="fa-regular fa-comment"></i> &nbsp; <i class="fa-solid fa-share"></i></p>
          </div>
          </div>
        <div class="card feed" style="width: 28rem;">
          <div class="card-body">
            <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"><path d="M16 9a4 4 0 1 1-8 0a4 4 0 0 1 8 0m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0"/><path d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11s11-4.925 11-11S18.075 1 12 1M3 12c0 2.09.713 4.014 1.908 5.542A8.99 8.99 0 0 1 12.065 14a8.98 8.98 0 0 1 7.092 3.458A9 9 0 1 0 3 12m9 9a8.96 8.96 0 0 1-5.672-2.012A6.99 6.99 0 0 1 12.065 16a6.99 6.99 0 0 1 5.689 2.92A8.96 8.96 0 0 1 12 21"/></g></svg> @Username</h5>
            <br>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <br>
            <p><i class="fa-regular fa-heart"></i> &nbsp; <i class="fa-regular fa-comment"></i> &nbsp; <i class="fa-solid fa-share"></i></p>
          </div>
          </div>
      </div>
    </div>
    <div class="fest">
        <h1>Festivals</h1>
        <br>
        <div class="card" style="width: 18rem;">
            <img src="assets/puja.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ganesh Chaturthi</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Explore Puja Items</a>
            </div>
          </div>
    </div>
</div>